* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

/* NAVBAR */

#navbar {
    background-image: linear-gradient(62deg, #be3144 0%, #83212e 100%);
    position: fixed;
    top: 0;
    width: 100vw;
    display: flex;
    border: 1px solid;
    justify-content: space-between;
    min-height: 10vh;
    z-index: 999;
}

#logo img {
    align-items: center;
    height: fit-content;
    width: 100px;
}


#navbar ul,
li,
a {
    color: white;
    font-size: 20px;
    text-decoration: none;
    list-style: none;
    display: flex;
    align-items: center;
    margin-right: 20px;
}


a:hover {
    text-decoration: underline;
}

/* NAVBAR */

/* WELCOME */
#welcome-section {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    min-height: 50vh;
    background-image: linear-gradient(62deg, #3a3d40 0%, #181719 100%);
}

#welcome-section h1 {
    font-size: 50px;
    color: white;
    margin-top: 155px;
}


#welcome-section p {
    width: 80%;
    padding: 20px;
    font-size: 20px;
    color: white;
    margin-top: 15px;
}

#welcome-section img {
    margin: 25px 0;
    width: 350px;
    object-fit: cover;
    border-radius: 50px;
}

@media (max-width: 1400px) {

    #welcome-section h1{
        font-size: 40px;
    }

    #welcome-section p {
        font-size: 20px;
    }
}




@media (max-width: 550px) {

    #navbar ul,
    li,
    a {
        font-size: 10px;
        margin-right: 10px;
    }

    #logo img {
        width: 80px;
    }

    #welcome-section h1 {
        font-size: 30px;
    }

    #welcome-section p {
        font-size: 12px !important;
    }



    #welcome-section img {
        width: 250px;
    }

    
}


/* WELCOME */

/* WELCOME */

/* PROJECTS */

#projects-section {
    background-image: linear-gradient(62deg, #45567d 0%, #19233c 100%);
}

#projects-section h2 {
    color: white;
    margin: 20px 0;
    text-align: center;
    font-size: 30px;
}


.projects-grid {
    margin: auto;
    width: 80%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
}

@media(max-width: 1450px){
    .projects-grid{
        display: flex;
        flex-direction: column;
    }
}

.projects-grid img {
    justify-content: center;
    border-radius: 8px;
    width: 350px;
    height: 300px;
    object-fit: cover;
    margin: 15px;
}

@media (max-width: 500px) {
    .projects-grid img{
        width: 250px;
        height: 200px;
    }

    #projects-section h2{
        font-size: 20px;
    }
}

@media (max-width: 360px){
    .projects-grid img{
        width: 180px;
    }
}

@keyframes wiggle {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(-5deg);
    }
    50% {
        transform: rotate(5deg);
    }
    75% {
        transform: rotate(-5deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

.projects-grid img:hover {
    cursor: pointer;
    animation-name: wiggle;
    animation-duration: 0.40s;
}




/* PROJECTS */

/*  */

/* Provide */



#features h2{
    text-align: center;
    font-size: 25px;
}


.features-grid {
    display: flex;
    width: 80%;
    margin: 50px auto 20px auto;
}

.icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20vw;
    color: white;
}

.description {
    color: white;
    width: 100%;
    margin-left: 25px;
    padding: 0 5px;
}

.description>h2 {
    margin-bottom: 5px;
    margin-left: 0;
    margin-top: 0;
}




/* Provide */